body{
    background-color:#EAF6F6;
}
hr{
    border-style: none;
    border-top-style: dotted;
    border-color: rgb(138, 168, 168);
    border-width: 5px;
    width: 10%;
}
h1{
    color: #66BFBF;
}
h3{
    color: #66BFBF;
}
.ath{
    height: 200px;
    border-radius: 100%;
}